<% layout('layout/main') -%>
<% block('title', 'Home') -%>


<div class="col-md-7 profile__content">
    <div class="tab-content profile-tab" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="profile__username">👤 <%=user.username%></label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>Name</label>
                </div>
                <div class="col-md-6">
                    <p><%=user.name%></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>Email</label>
                </div>
                <div class="col-md-6">
                    <p><%=user.email%></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>Age</label>
                </div>
                <div class="col-md-6">
                    <p><%=user.age%></p>
                </div>
            </div>
            <% if(Bio) { %>
                <div class="row">
                    <div class="col-md-6">
                        <label>Address</label>
                    </div>
                    <div class="col-md-6">
                        <p><%=Bio.address%></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Phone Number</label>
                    </div>
                    <div class="col-md-6">
                        <p><%=Bio.phoneNumber%></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>School</label>
                    </div>
                    <div class="col-md-6">
                        <p><%=Bio.school%></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Steam Level</label>
                    </div>
                    <div class="col-md-6">
                        <p><%=Bio.steamLevel%></p>
                    </div>
                </div>
            <%} else { %>
                <div class="row">
                    <div class="col-md-6">
                        <label>Address</label>
                    </div>
                    <div class="col-md-6">
                        <p>Bio not found</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Phone Number</label>
                    </div>
                    <div class="col-md-6">
                        <p>Bio not found</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>School</label>
                    </div>
                    <div class="col-md-6">
                        <p>Bio not found</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Steam Level</label>
                    </div>
                    <div class="col-md-6">
                        <p>Bio not found</p>
                    </div>
                </div>
            <% } %>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label>🎮 Game History</label>
                </div>
            </div>
            <% if(Histories) { %>
                <% Histories.forEach(history => { %>
                    <div class="row mb-3">
                        <div class="col-md-6 text-muted">
                            <label><%=history.gameName%></label>
                        </div>
                        <div class="col-md-6">
                            <a  href="/users/deleteHistory/<%= history.id %>" class="btn btn-outline-danger btn-sm " role="button" aria-pressed="true" onClick="return confirm('Apa kamu yakin ingin menghapus aku dari ingatan kamu?');">Remove</a>
                        </div>
                    </div>    
                <% }) %>
            <%} else { %>
                <div class="row mb-3">
                    <div class="col-md-6 text-muted ">
                        <h6>History not found</h6>
                    </div>
                </div>  
            <% } %>
        </div>
    </div>
</div>
